<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Produto Logo"
    src="https://s2.coinmarketcap.com/static/img/coins/64x64/3801.png"
  />
  <a href="">b_Products</a> &nbsp;&nbsp;&nbsp;&nbsp;
  
  <a href="products">Dispositivo Gestão</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="categories">Gerenciamento de Categoria</a>&nbsp;

    <div class="spacer"></div>   
    
   
</div>



<div class="content" role="main">
  
  
  

  <!-- Footer -->
  <footer>
            
  </footer>
</div>
<router-outlet></router-outlet>
