<br>
<h1>Categoria</h1>

<br><br>
<button type="button" class="btn btn-success">Adicionar Categoria</button>
<br><br>
<div class="container">
    <div class="row">
        <div    >
            <table class="table">
                <thead>
                  <tr>
                    
                    <th scope="col">Name</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Televisao</td>
                    <div>
                        <button type="button" class="btn btn-warning">Update</button> &nbsp;
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                  </tr>
                  <tr>
                    <td>Eletroeletronico</td>
                    <div>
                        <button type="button" class="btn btn-warning">Update</button> &nbsp;
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                  </tr>
                  <tr>
                    <td>Video Game</td>
                    <div>
                        <button type="button" class="btn btn-warning">Update</button> &nbsp;
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                  </tr>
                </tbody>
              </table>
            
        </div>
        
    </div>
</div>

