
<h1>Lista de Produtos</h1>
<br><br>
<button type="button" class="btn btn-success" (click)="newProduct()">Novo Produto</button>
<br><br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Produto</th>
        <th scope="col">Preço</th>
        <th scope="col">Serie</th>
        <th scope="col">Categoria</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody *ngFor="let product of products">
      <tr>
        <th scope="row">{{products.indexOf(product) + 1}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.serie}}</td>
        <td>{{product.category_name}}</td>
        <td>
            <button type="button" class="btn btn-warning" (click)="editProduct(product)">Editar</button> &nbsp;
            <button type="button" class="btn btn-danger" (click)="deleteProduct(product)">Apagar</button>
        </td>
      </tr>
    </tbody>
  </table>