<br>
<h1>Produtos</h1>

<br><br>
<button type="button" class="btn btn-success">Adicionar Produto</button>
<br><br>
<div class="container">
    <div class="row">
        <div    >
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Serie</th>
                    <th scope="col">Category</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>TV UHD</td>
                    <td>3000</td>
                    <td>121</td>
                    <td>1</td>
                    <div>
                        <button type="button" class="btn btn-warning">Update</button> &nbsp;
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                  </tr>
                  <tr>
                    <td>Play Station 5</td>
                    <td>5000</td>
                    <td>131</td>
                    <td>2</td>
                    <div>
                        <button type="button" class="btn btn-warning">Update</button> &nbsp;
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                  </tr>
                  <tr>
                    <td>TV 4K</td>
                    <td>3000</td>
                    <td>125</td>
                    <td>1</td>
                    <div>
                        <button type="button" class="btn btn-warning">Update</button> &nbsp;
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                  </tr>
                </tbody>
              </table>
            
        </div>
        
    </div>
</div>
